@charset "utf-8";
/* CSS Document */

/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border:none;
    border-image-width: 0;
}



dl, dt, dd, ol, ul {
    list-style: none;
}

article, aside, figure, figure img, figcaption, hgroup,
footer, header, nav, section, video, object {
    display: block;
}

a img {border:none;}

figure {position: relative;}
figure img {width: 100%;}

table {border-collapse: collapse; margin: 0; padding: 0;}
th, td {vertical-align: top;}
ins { text-decoration:none; }
/* RESET */